## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# enable extensions of jupyter
!jupyter nbextension enable --py gmaps
!enable --py --sys-prefix widgetsnbextension
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok
'enable' is not recognized as an internal or external command,
operable program or batch file.
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_Vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Sinnamary,GF,79.92,clear sky,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
1,9,Kulhudhuffushi,MV,82.29,broken clouds,6.6221,73.0700,Haajy Guest House 1
2,11,Hithadhoo,MV,81.00,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,13,Rojhan,PK,81.41,clear sky,28.6868,69.9534,Nawab Imam Bux Khan Bangla
4,16,Mattru,SL,72.45,moderate rain,7.6244,-11.8332,"Mondkor Town, Bagbo Chiefdom, Bo District"
5,18,Touros,BR,76.77,clear sky,-5.1989,-35.4608,INN NEW HORIZON
6,19,Maceio,BR,72.84,few clouds,-9.6658,-35.7353,Hotel Ponta Verde Maceió
7,30,Cayenne,GF,78.84,clear sky,4.9333,-52.3333,Hôtel Le Dronmi
8,31,Ponta Do Sol,PT,70.72,few clouds,32.6667,-17.1000,Hotel do Campo
9,32,Kismayo,SO,76.73,clear sky,-0.3582,42.5454,Agan-Hotel

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [21]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(50.0, -50.0), zoom_level=3.0)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Available cities by countries excluding those less than four cities
number_of_cities_per_country_df = vacation_df.groupby(["Country"]).count()["City"]

number_of_cities_per_country_df = pd.DataFrame({
    "Number of Cities": number_of_cities_per_country_df})

number_of_cities_per_country_df = number_of_cities_per_country_df[(number_of_cities_per_country_df["Number of Cities"] >= 4)]

number_of_cities_per_country_df

         Number of Cities
Country
BR                     40
CD                      4
CO                     12
GF                      5
GH                      6
ID                      4
IN                     21
IR                      6
LY                      7
MU                      5
MV                      5
PE                      4
PH                      4
PK                      5
PT                      4
SO                      6
US                      8

In [12]:
# Prompt the user to pick a country
selected_country = str(input("What country would you like to go to? "))

What country would you like to go to? IN

In [13]:
# Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_of_country_df = vacation_df.loc[(vacation_df["Country"] == selected_country)]
preferred_cities_of_country_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
25,69,Gaya,IN,78.71,mist,24.7833,85.0000,Hotel Viraat Inn Gaya
29,93,Kavaratti,IN,81.72,scattered clouds,10.5669,72.6420,Green leaf
74,224,Port Blair,IN,81.36,overcast clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
77,236,Kochinda,IN,76.21,overcast clouds,21.7333,84.3500,OYO 88952 Hotel Royal Galaxy
94,272,Burla,IN,76.21,overcast clouds,21.5000,83.8667,Manoj Kumar Sahoo
96,281,Vinukonda,IN,78.73,scattered clouds,16.0500,79.7500,VLS Residency
97,282,Lakheri,IN,76.03,broken clouds,25.6667,76.1667,प्रहलाद जी सैनी
98,284,Fatehpur,IN,77.27,overcast clouds,25.9333,80.8000,Hotel Bombay Lodge
112,349,Narasannapeta,IN,78.22,overcast clouds,18.4167,84.0500,AVK events and catering
123,367,Rawatsar,IN,79.30,clear sky,29.2833,74.3833,Batra Hotel
126,375,Kot Kapura,IN,72.05,clear sky,30.5833,74.9000,Dr. Darshan Lal
128,383,Kunda,IN,75.36,overcast clouds,25.7167,81.5167,Girja Sankar And Arvind gupta
129,387,Chhindwara,IN,70.12,overcast clouds,22.0667,78.9333,STARiHOTELS Chhindwara
145,442,Rajmahal,IN,78.80,overcast clouds,25.0500,87.8333,Marrage hall (विवाह भवन)
173,497,Jagdalpur,IN,71.02,overcast clouds,19.0667,82.0333,Hotel Devansh Residency
213,608,Salaya,IN,78.80,broken clouds,22.3167,69.6000,Sumbhaniya suni Mualim Jamat
224,641,Chopda,IN,73.76,overcast clouds,21.2500,75.3000,CHACHA BHATIJA AAMLET CENTAR
230,657,Rapar,IN,78.35,overcast clouds,23.5667,70.6333,Dharamshi Bapa’s Home
231,660,Nizamabad,IN,72.27,scattered clouds,18.6667,78.1167,Hostel Luxury A/C
232,663,Dhoraji,IN,73.33,scattered clouds,21.7333,70.4500,Hotel Sahjee Plaza & Guest House
240,682,Sompeta,IN,79.92,overcast clouds,18.9333,84.6000,బెంకిలి భైరొడమ్మ క్రికెట్ గ్రౌండ్

In [15]:
# Prompt the user to pick four cities, please note that not all cities might have routes between them
first_last_city = str(input("Which city would you like to start and end in? "))
second_city = str(input("Which city would you like to go second? "))
third_city = str(input("Which city would you like to go third? "))
fourth_city = str(input("Which city would you like to go fourth? "))

Which city would you like to start and end in? Sompeta
Which city would you like to go second? Narasannapeta
Which city would you like to go third? Burla
Which city would you like to go fourth? Kochinda

In [16]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = preferred_cities_of_country_df.loc[preferred_cities_of_country_df["City"] ==  first_last_city]
vacation_end = preferred_cities_of_country_df.loc[preferred_cities_of_country_df["City"] == first_last_city]
vacation_stop1 = preferred_cities_of_country_df.loc[preferred_cities_of_country_df["City"] == second_city]
vacation_stop2 = preferred_cities_of_country_df.loc[preferred_cities_of_country_df["City"] == third_city] 
vacation_stop3 = preferred_cities_of_country_df.loc[preferred_cities_of_country_df["City"] == fourth_city]

In [17]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [19]:
# Prompt the user to pick a method of travel
selected_travel_mode = str(input("How would you like to travel; please select either DRIVING, BICYCLING, or WALKING. "))

How would you like to travel; please select either DRIVING, BICYCLING, or WALKING. DRIVING

In [20]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING"
fig2 = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode= selected_travel_mode)
fig2.add_layer(vacation_itinerary)
fig2

Figure(layout=FigureLayout(height='420px'))

In [22]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
frames = [vacation_start, vacation_stop1, vacation_stop2, vacation_stop3]


itinerary_df = pd.concat(frames,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,682,Sompeta,IN,79.92,overcast clouds,18.9333,84.6000,బెంకిలి భైరొడమ్మ క్రికెట్ గ్రౌండ్
1,349,Narasannapeta,IN,78.22,overcast clouds,18.4167,84.0500,AVK events and catering
2,272,Burla,IN,76.21,overcast clouds,21.5000,83.8667,Manoj Kumar Sahoo
3,236,Kochinda,IN,76.21,overcast clouds,21.7333,84.3500,OYO 88952 Hotel Royal Galaxy

In [23]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
selected_hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
selected_locations = itinerary_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map.
fig3 = gmaps.figure()
selected_marker_layer = gmaps.marker_layer(selected_locations, info_box_content=selected_hotel_info)
fig3.add_layer(selected_marker_layer)

# 11b. Display the figure
fig3

Figure(layout=FigureLayout(height='420px'))